---
import "../styles/base.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/ring.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Mariage de Bernard & Sylvie</title>
    </head>
    <body
        class="bg-[url('/assets/beige-paper.png')] text-amber-900 bg-amber-50">
        <main class="flex flex-col items-center text-center h-full">
            <section class="flex flex-col justify-between items-center w-full">
                <!-- bg-slate-100 rounded opacity-100 px-2 w-fit -->
                <h1 class="font-extrabold text-3xl mt-2">Mariage de</h1>
                <figure>
                    <img
                        src="/assets/bernard_sylvie--rounded-flower.png"
                        alt="Bernard et Sylvie"
                        width="200"
                    />
                </figure>
                <p class="font-['AlexBrush'] font-extrabold text-5xl mb-2">
                    Sylvie & Bernard
                </p>
            </section>
            <section
                class="font-['Lora'] flex items-center font-bold text-xl text-center uppercase my-6">
                <article
                    class="border-amber-800 border-t-2 border-b-2 px-3 py-2 mx-2">
                    <p class="">Samedi</p>
                </article>
                <article>
                    <p>le</p>
                    <p class="text-4xl mx-2 my-5">14</p>
                    <p>2023</p>
                </article>
                <article
                    class="border-amber-800 border-t-2 border-b-2 px-3 py-2 mx-2">
                    <p>Octobre</p>
                </article>
            </section>
            <section class="font-['Lora'] font-bold text-xl">
                <p>à Eaubonne</p>
            </section>
            <section
                class="font-['Lora'] flex justify-center items-center text-center mx-3 my-6">
                <p
                    class="flex basis-1/4 justify-center text-3xl font-bold uppercase">
                    &bull;&nbsp;15h30
                </p>
                <p
                    class="basis-3/4 justify-start text-xl font-bold text-left mx-4">
                    Célébration à la mairie d'Eaubonne
                    <a href="https://goo.gl/maps/RUJCDtMEpd9HP4526">
                        <img
                            class="inline"
                            src="/gps.svg"
                            alt="gps icon"
                            width="26"
                        />
                    </a>
                </p>
            </section>
            <section
                class="font-['Lora'] flex items-center text-center mx-3 my-6">
                <p
                    class="flex basis-1/4 justify-center text-3xl font-bold uppercase">
                    &bull;&nbsp;17h00
                </p>
                <p
                    class="basis-3/4 justify-start text-xl font-bold text-left mx-4">
                    Fête du mariage au château de la Chesnaie à Eaubonne
                    <a href="https://goo.gl/maps/nU7TRNFvnK2ywWWz6">
                        <img
                            class="inline"
                            src="/gps.svg"
                            alt="gps icon"
                            width="26"
                        />
                    </a>
                </p>
            </section>

            <section
                class="font-['Lora'] flex flex-col justify-center items-center">
            </section>
        </main>
    </body>
</html>
